In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import numpy as np
import time
import timeit
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
DNameList=list()
DLocationList= list()
for k in range(1):
    browser = webdriver.Chrome('chromedriver.exe')
    browser.get(f'https://www.vezeeta.com/en/doctor/pediatrics-and-new-born/dokki-and-mohandessin?page={k}')
    DName= browser.find_elements(By.CLASS_NAME,"DoctorCardSubComponentsstyle__Text-sc-1vq3h7c-14.DoctorCardSubComponentsstyle__DoctorNameText-sc-1vq3h7c-15.dZnRSf.Wpycp")
    DLocation= browser.find_elements(By.CLASS_NAME,"DoctorCardstyle__Text-sc-uptab2-4.blwPZf")
    for i in DName:
        DNameList.append(i.text)
    for i in DLocation:
        DLocationList.append(i.text)
    time.sleep(3)
    browser.quit()

In [5]:
df= pd.DataFrame(list(zip(DNameList,DLocationList)),columns=['Name','Location'])
df.to_csv('pediatrics_dokky&mohndessin.csv')
df.to_excel('pediatrics_dokky&mohndessin.xlsx')

In [6]:
df

                             Name                     Location
0               Yomna Ahmed Hosni   El-Dokki : micheel bakhoum
1                 Maged El Wakeel  El-Dokki : El-Tahrir street
2              Ossama Salah Eldin    El-Dokki : Mosadak street
3                    ashraf sobhy  El-Mohandessin : white nile
4              Fatma Mohamed Atia       El-Dokki : Teba square
5           Nesreen Mohamed Sobhy       El-Dokki : Teba square
6  Yomna Abdel Moneim Abdel Rahim       El-Dokki : Teba square
7                  dina Al khatib       El-Dokki : Teba square
8                Aya Salah El din       El-Dokki : Teba square
9             Nermine Abdelrahman       El-Dokki : Teba square